<% @user.password = @user.password_confirmation = nil %>
<%= title "Update Account" %>
<p class="sub-head"><strong>Update</strong> your account:</p>

<% form_for :user, @user, :url => user_path(@user), :html => {:method => 'put', :id => 'user-form'} do |f| %>
    <%= f.error_messages %>
    <fieldset>
        <legend><%= APP_CONFIG[:site_name] %></legend>
        <ul>
            <li>
                <%= f.label 'name', 'Full Name' %>
                <%= f.text_field 'name' %>
            </li>
            <li>
              <% if !@user.verified? -%>
                  <span class="verification unverified">(unverified)</span>
              <% else -%>
                  <span class="verification">(verified)</span>
              <% end -%>
                <%= f.label 'email', 'Email' %>
                <%= f.text_field 'email' %>
            </li>
            
            <% if @user.using_open_id? -%>
                <li>
                    <%= f.label 'identity_url', 'Identity URL' %>
                    <%= f.text_field 'identity_url' %>
                </li>
            <% else -%>
                <li>
                    <%= f.label 'password', 'Password' %>
                    <%= f.password_field 'password' %>
                </li>
                <li>
                    <%= f.label 'password_confirmation', 'Confirm Password' %>
                    <%= f.password_field 'password_confirmation' %>
                </li>
            <% end -%>

            <li class="buttons">
                <%= submit_tag 'Update' %>
            </li>
        </ul>
    </fieldset>
<% end %>

<% if !@user.verified? -%>
    <li>
        <div class="send-verification"><%= button_to 'Send verification email', send_verification_user_path(@user) %></div>
    </li>
<% end -%>

