<% @user.password = @user.password_confirmation = nil %>
<%= title "Update Account" %>
<p class="sub-head"><strong>Update</strong> your account:</p>

<% form_for @user do |f| %>
    <%= f.error_messages %>
    <fieldset>
        <legend><%= APP_CONFIG[:site_name] %></legend>
        <ul>
            <li>
                <%= f.label 'login', 'Username' %>
                <%= f.text_field 'login' %>
            </li>
            <li>
                <%= f.label 'name', 'Full Name' %>
                <%= f.text_field 'name' %>
            </li>
            <li>
                <%= f.label 'email', 'Email' %>
                <%= f.text_field 'email' %>
            </li>
            Using open id: <%= @user.using_openid? %> ---- <%= @user.identity_url %>
            <% if @user.using_openid? -%>
                <li>
                    <%= f.label 'identity_url', 'Identity URL' %>
                    <%= f.password_field 'identity_url' %>
                </li>
            <% else -%>
                <li>
                    <%= f.label 'password', 'Password' %>
                    <%= f.password_field 'password' %>
                </li>
                <li>
                    <%= f.label 'password_confirmation', 'Confirm Password' %>
                    <%= f.password_field 'password_confirmation' %>
                </li>
            <% end -%>
            <li class="buttons">
                <%= submit_tag 'Update' %>
            </li>
        </ul>
    </fieldset>
<% end %>
