<% @user.password = @user.password_confirmation = nil %>
<%= title "Create Account" %>
<p class="sub-head"><strong>Create an account</strong> using one of the following:</p>

<% form_for @user do |f| %>
    <%= f.error_messages %>
    <%= render :partial => 'shared/openid', :locals => {:label => 'Create'} %>
    <fieldset>
        <legend><%= APP_CONFIG[:site_name] %></legend>
        <ul>
            <li>
                <%= f.label 'name', 'Full Name' %>
                <%= f.text_field 'name' %>
            </li>
            <li>
                <%= f.label 'email', 'Email' %>
                <%= f.text_field 'email' %>
            </li>
            <li>
                <%= f.label 'password', 'Password' %>
                <%= f.password_field 'password' %>
            </li>
            <li>
                <%= f.label 'password_confirmation', 'Confirm Password' %>
                <%= f.password_field 'password_confirmation' %>
            </li>
            <li class="buttons">
                <%= submit_tag 'Create' %>
            </li>
        </ul>
    </fieldset>
<% end %>
