<fieldset>
    <legend>External Service</legend>
    <ul id="openid-providers">
      <li>
        <%= openid_link_for(OPEN_ID_GOOGLE, "google", "#{label} With Google") %>
      </li>
      <li>
        <%= openid_link_for(OPEN_ID_MY_OPEN_ID, "myopenid", "#{label} With My Open ID") %>
      </li>
      <li>
        <%= openid_link_for(OPEN_ID_YAHOO, "yahoo", "#{label} With Yahoo!") %>
      </li>
      <li>
        <%= openid_link_for(OPEN_ID_MYSPACE, 'myspace', "#{label} With MySpace") %>
      </li>
      <li>
        <%= openid_link_for(OPEN_ID_FLICKR, 'flickr', "#{label} With Flickr") %>
      </li>
      <li></li>
      <!--
      <li>
        <%= openid_link_for(OPEN_ID_FACEBOOK, "facebook", "#{label} With Facebook") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_TWITTER, 'twitter', "#{label} With Twitter") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_LIVE_JOURNAL, 'livejournal', "#{label} With Live Journal") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_WORDPRESS, 'wordpress', "#{label} With Word Press") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_BLOGGER, 'blogger', "#{label} With Blogger") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_MICROSOFT, 'microsoft', "#{label} With Windows Live!") %>
      </li>
      <li>
        **<%= openid_link_for(OPEN_ID_AOL, 'aol', "#{label} With America Online") %>
      </li>
      -->
    </ul>
    <a id="toggle-any-open-id" alt="Toggle display of open id entry form" onclick="toggleOpenIdEntry();">(+) Show OpenID URL entry</a>
    <div id="any-open-id" style="display:none;">
      <hr />
      <div>
        <%= label_tag 'openid_url', 'OpenID URL:' %>
        <%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
      </div>
      <div>
        <%= submit_tag "#{label} with OpenID" %>
      </div>
    </div>
</fieldset>

