<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title><%= @page_title || APP_CONFIG[:site_name] %></title>
        <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta name="distribution" content="all" />
        <meta name="robots" content="all" />    
        <meta name="resource-type" content="document" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <%= stylesheet_link_tag ['yui-reset-min', 'yui-base-min', 'application'] %>
        <%= javascript_include_tag ['jquery-1.3.2.min', 'application'] %>
    </head>
    <body>
        <div id="body-content">

          <table width="100%" id="header" cellpadding="0" cellspacing="0">
            <tr>
              <td>&nbsp;</td>
              <td align="right">
                <% if logged_in? %>
                    <strong>Welcome <%= current_user.label %></strong><br />
                <% end %>
              </td>
            </tr>
            <tr>
              <td align="left">
                <%= link_to 'Main', root_path %>
                <% if logged_in? && current_user.admin_role? -%>
                    <%= link_to 'Admin', admin_users_path %>
                <% end -%>
              </td>
              <td align="right">
                <% if logged_in? %>
                    <%= link_to 'Account', edit_user_path(current_user) %>&nbsp;&nbsp;
                    <%= link_to 'Sign out', logout_path %>
                <% else %>
                    <%= link_to 'Sign in', new_session_path %> or
                    <%= link_to 'Create an account', new_user_path%>
                <% end %>
              </td>
            </tr>
          </table>

          <div id="main">
              <%= flash_messages %>
              <%= yield :layout %>
          </div>

          <table width="100%" id="footer">
            <tr>
              <td>
                <%= link_to 'About', about_path %>
                <%= link_to 'Contact', contact_path %>
                <%= link_to 'Privacy', privacy_path %>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://github.com/lukebayes/fundamental" target="_blank">GitHub</a>
                <a href="http://fundamental.heroku.com" target="_blank">Heroku</a>
                <a href="http://runcoderun.com/lukebayes/fundamental" target="_blank">Run Code Run</a>
                <a href="http://www.pivotaltracker.com/projects/24964" target="_blank">Pivotal Tracker</a>
              </td>
            </tr>
          </table>
        </div>
    </body>
</html>
